html, body{ font-family: Helvetica;
	margin: 0;
}
header{
	background-color: #000055;
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 175px;
	width: 300px;
	border: 24px solid #55222D;
}

.content{
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color:lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color:red;
	text-decoration: none;
}
footer{
	margin-top: 20px;
	padding: 40px 20 px;
	background-color: #E6E6E6
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline-block;
	margin: 0 5px;
}
/* <header>
		<img src="img/profile.png">
		<h1>Yuval The Photogapher</h1>
	</header>*/